// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#credentials, #dialler, #messages {
  clear: both;
}
#remote-video {
  max-width: 100%;
}
#local-video {
  position: fixed;
  right: 0;
  max-width: 150px;
}
